<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daftar Surat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h1 class="title">➕ Daftar Surat</h1>
    <div class="actions">
        <a href="{{ url_for('add') }}"><button class="btn primary">➕ Tambah Buku</button></a>
    </div>
    <br>
    <div class="card-list">
        {% for b in surat %}
        <div class="card">
            <h3>{{ b.surat }}</h3>
            <p>{{ b.pengirim }}</p>
            <p>{{ b.penerima }}</p>
            <p>{{ b.tanggal }}</p>
            <p>{{ b.nomor_surat }}</p>
            <div class="card-actions">
                <a href="{{ url_for('edit', id=b.id) }}"><button class="btn">Edit ✏️</button></a>
                <a href="{{ url_for('delete', id=b.id) }}"><button class="btn danger">Hapus 🗑️</button></a>
            </div>
        </div>
        {% else %}
        <p class="empty">Belum ada surat 💌</p>
        {% endfor %}
    </div>
</div>
</body>
</html>